@font-family:  Helvetica Neue, Helvetica, Arial;
@BodyWidth: 1060px;
@TextColour: #58585A; 
@CEBlue: #659BC2;
@h1TextSize: 20px;
@h2TextSize: 18px;


body {
    font-size: .85em;
    font-family: @font-family;
    margin: 0;
    padding: 0;
}

#MainSiteDiv {
    text-align: center;
	background: url("Images/sw-bg.jpg") top left repeat #F0F0F0;
    margin: 0 auto;
    width: @BodyWidth;
    border-top: 1px black;
    border-top-style: solid;
}

.logo {
    float: left;
    border: none;
    width: 100px;
}

#logoimage {
    margin-top: -20px;
    margin-left: 20px;
    border: none;
    height: 90px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-rightClear {
    float: right;
    clear: both;
}

.lightgreybg {
    background: url("Images/lightgreybg.jpg") no-repeat;
}

.roundedBorders{
    border: 1px solid @CEBlue;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.boxshadow {   
    -webkit-box-shadow: #888888 5px 5px 5px;
    -moz-box-shadow: #888888 5px 5px 5px;
    box-shadow: 5px 5px 5px #888888;
}
.roundedBorders-WhiteBack {
    border: 1px solid grey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}

.KendoGridFix {
    text-align: left !Important;
}

.loadinggif{
    padding-left: 10px;
    position: absolute;
    padding-top: 5px;
    display: none;
}

/* main layout
----------------------------------------------------------*/
#ajax-loader-div {
    position:   absolute;
}

.ajax-loader-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

.content-wrapper {
    margin: 0;
    margin-right: 15px;
}

#body {
    clear: both;
    padding-bottom: 35px;
    width: 1100px;
    color: @TextColour;
}

.main-content {
    background: url("Images/mid_bg.png") no-repeat;
    background-position: 220px 50px;
    padding-left: 10px;
    height: 100%;
	min-height: 900px;
}

header {
    height: 100px;
    width: @BodyWidth;
    margin: 0 auto;
}

    header .content-wrapper {
        padding-top: 20px;
    }

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

/* site title
----------------------------------------------------------*/

.mainheading {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 5px;
}

/* Contact*/
#contactus {
    width: 450px;
}
#contactus input {
    width: 350px;
}

#contactus textarea {
    width: 350px;
    height: 150px;  
}

#submitcomment {
    width: 100px ! important;
}

.contact_details {
    text-align: left;
    float: left;
    width: 250px;
    margin-left: 50px;
    margin-top: 100px;
}

/* Tabs for navigation*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	list-style: none;
}

ul#navigation {
	height: 36px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

ul#navigation li {
	.roundedBorders;
	float: right;
	width: 100px;
	margin: 0 3px 0 0;
	background-color: @CEBlue;
	border: solid 1px #415F9D;
	position: relative;
	z-index: 1;
}

ul#navigation li.selected {
	z-index: 3;
}

ul#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

ul#navigation li a:link, ul#navigation li a:visited {
	.roundedBorders;
	display: block;
	text-align: center;
	width: 100px;
	height: 40px;
	line-height: 36px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: @CEBlue;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#navigation li a:hover {
    background-color: midnightblue;
}

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
	color: @CEBlue;
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
	background-color: #f2f2f2;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Home Page*/
.homePage-right-floats {
    float: right;
    clear: both;
    text-align: center;
    margin-bottom: 0px;
    margin-right: 35px;
}

.homePage-right-floats h2{
    display: inline;
}

#home_emailsubscribe {
    padding: 5px;
    width: 264px;
    margin-right: 38px;
	padding-bottom: 10px;
	margin-top: 13px;
   .roundedBorders-WhiteBack;
}

#emailsubmit {
    width: 90px !important;
    padding: 5px 10px;
    background: @CEBlue;
    border: 0;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    .roundedBorders;
}

#home_emailsubscribe input {
    width: 92%;
	border: 1px solid @CEBlue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	padding: 5px;
}

#home_email_label {
    display: inline-block;
    font-weight: bold;
	font-size: 15px;
	padding-bottom: 4px;
}

.twitter-widget{
    height: 180px;
	width: 280px;
}

.home_social {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    .home_social a {
        margin-right: 3px;
        text-decoration: none;
    }


    .home_social ul {
        margin: 0;
    }

    .home_social li {
        display: inline;
        list-style: none;
    }

#homepage_content {
    text-align: left;
    margin-left: 25px;
    min-height: 830px;
}

#homepage_content h1 {
    font-weight: bold;
    font-size: @h1TextSize;
}

#homepage_actioncall {
    background-color: @CEBlue;
    height: 200px;
    margin-left: -10px;
    margin-right: 25px;
}

.homepage_actioncall_float-left{
	float:left;
	width: 300px;
	margin-left: 30px;
	margin-top: 13px;
}

.homepage_actioncall_float-right{
	float:right;
	width: 500px;
	margin-right: 80px;
	margin-top: 20px;
}

#homepage_actioncall h1 {
    font-size: 35px;
    display: inline;
	color: white;
}

    #homepage_actioncall h2 {
        font-size: 12px;
        font-style: italic;
        font-weight: normal;
        margin: 0;
        padding: 6px;
		color: white;
    }

#homepage_rightfloat_container {
    margin-top: 20px;
}

#home_toolad {
    height: 285px;
    margin-top: 40px;
    margin-right: 36px;
}

#home_toolad img  {
   width: 275px;
}

#home_ourvision {
    width: 700px;
    background-color: lightgray;        
    padding-left: 5px;
    .roundedBorders;
    .boxshadow;
}


#home_ourvision p {
    padding-bottom: 5px;
    padding-right: 5px;
}

.home_blogSummary {
    width: 700px;    
    margin-bottom: 10px;
	padding-top: 10px;
	.roundedBorders-WhiteBack;
}

.home_blogSummary h2, h3 {
    display: inline;
    font-size: 16px;
    color: @CEBlue;
}

.home_blogSummary h3 {
    font-size: 11px;
}

.blog_summary_headings{
	padding-left: 15px;
	padding-bottom: 5px;
}

.home_blogSummary_text {
	padding-left: 15px;
    height: 94px;
    overflow:hidden;
	border-top: solid 1px #D4D4CA;
}

/********* Blogs   *************/

.blog_button_div {
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
    margin-top: -20px;
}

#blog_blogarticle {
    text-align: justify;
    width: 750px;
    font-size: 12px;
}

#blog_blogarticle h1 {
    margin-left: 30px;
    font-weight: bold;
    font-size: @h1TextSize;
}
#blog_blogarticle h2 {
    display: inline;
}

.blog_article_headings {
    padding: 15px;
}

.blog_article_headings h3 {
    font-size: 12px;
}

#blog_article_content {
    margin-left: 30px;
    width: 680px;
    margin-bottom: 5px;
    .roundedBorders-WhiteBack
}

#blog_article_article {
    font-size: 13px;
    padding-top: 15px;
    font-family: @font-family;
	padding: 20px;
	border-top: solid 1px #D4D4CA;
}

.blog_article_floats {
    float: right;
    clear: both;
    text-align: left !important;
    margin-right: 55px;
    margin-bottom: 5px;
    margin-top: -18px;
    font-size: 13px;
}

.blog_article_floats h2 {
    display: inline-block;
    text-align: left;
    font-size: 20px;
}

.blog_article_floats_content {
    margin-bottom: 5px;
    padding: 15px;
    height: 280px;
    width: 250px;
    text-align: left;
    .roundedBorders-WhiteBack;
    .boxshadow;
}

#blogDisclaimer{
	font-style:italic;
	padding: 15px
}

.blogfloats {
    width: 100%;
    margin-bottom: 7px;
    padding-left: 3px;
    display: inline-block;
    .roundedBorders;
}

.blog_article_list
{
	list-style: square;
	margin-left: -20px;
}

.blog_comments_list
{
	list-style: square;
	margin-left: -20px;
}

.blogbuttonblogfloat {
    text-align: center;
    padding-top: 5px;
}

.blogCommentHeader {
    text-align: left;
    margin-left: 27px;
    font-weight: bold;
    font-size: 20px;
}


.blog_comments_container {
    text-align: left;
    margin-left: 30px;
    width: 650px;
    margin-bottom: 5px;
    padding: 15px;
    .roundedBorders-WhiteBack;
}

.floatimageleft{
	float:right;
}

#blog_socialLinks {
    width: 710px;
    text-align: right;
    padding: 5px;
}


#fb-blog span {
    padding-bottom: 4px;
}

#blog_socialLinks a,img {
    border: none;
    text-decoration: none;
}

#home_page_twitter_top{
	padding-left: 2px;
}

.blog_float_show_more { 
	text-align: center;
	position: relative;
}

#blog_rss_image{
	float: right;
	margin-bottom: 10px;
}


 /*Blog Comments*/
#comment_Reply input, textarea {
    padding: 7px;
    border: solid 1px #528ecc;
	.roundedBorders;
}

#comment_Reply textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

#comment_Reply label {
    margin-left: 10px;
    color: black;
    display: inline;
}

#comment_Reply .submit input {
    width: auto;
    padding: 9px 15px;
    background: @CEBlue;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    .roundedBorders;
}

.blog_comments h2{
    display: inline;
    font-size: 14px;
    color: @CEBlue;
}

.blog_comments h3 {
    display: block;
    line-height: .25em;
    font-size: 10px;
}

/*---------------------------------------How to Works Page Start Here------------------------------------*/
.work_area{
	width:965px;
	overflow:hidden;
	padding:0 30px;
}


.entry-content{color: #58585A;
    font-size: 14px;
    line-height: 22px;}

.entry-content ul  { margin-bottom: 1.5em; padding: 0 0 0 30px; }
.entry-content ul ul  { margin: 0; }
.entry-content ul li  {	list-style-type: disc;  line-height: 22px; }
.entry-content ul ul li  { list-style-type: circle;line-height: 22px; }

.entry-content ol  { margin-bottom: 1.5em; padding: 0 0 0 30px; }
.entry-content ol ol  { margin: 0; }
.entry-content  ol li  { list-style-type: decimal; line-height: 22px;}
.entry-content  ol li ol li  { list-style-type: lower-latin; line-height: 22px;}




.work_area h1{
	width:964px;
	font-size:35px;
	font-weight:normal;
	text-align:center;
	padding-bottom:5px;
	margin-bottom:30px;
	background:url(images/btm_icon.jpg) no-repeat bottom center;
}
.step_area{
	width:342px;
	float:left;
	overflow:hidden;
}
.step_one{
	width:342px;
	float:left;
	text-align:right;
	padding-bottom:30px;
}
.step_one h3,.step_two h3{
	width:342px;
	font-size:21px;
	color:@CEBlue;
	font-weight:normal;
	padding-bottom:8px;
}
.step_one h3 span,.step_two h3 span{
	font-size:20px;
	color:#58585A;
	display:block;
}
.step_one p,.step_two p{
	font-size:13px;
	color:#58585A;
	line-height:23px;
}
.step_one p img{
	float:left;
	width: 120px;
	height: 120px;
}

.step_mide{
	width:280px;
	text-align:center;
	padding-top:60px;
	float:left;
}
.step1_area{
	width:342px;
	float:right;
	overflow:hidden;
	padding-top:40px;
}
.step_two{
	width:342px;
	float:left;
	text-align:left;
	padding-bottom:30px;
}
.step_two p img{
	float:right;
	width: 115px;
	height: 125px;
}
.step_two .pic8{
	float:left;
	margin-top:20px;
}
.info_area{
	width:400px;
	overflow:hidden;
	padding:10px;
	background:@CEBlue;
    margin-left: 350px;
}

    .info_area h3 {
        display:inline;
        text-align: center;
        font-size: 28px;
        font-weight: normal;
        color: white;
        padding-bottom: 10px;
    }

        .info_area h3 span {
            font-size: 14px;
            font-weight: normal;
            display: block;
            padding-top: 5px;
            color: white;
            padding-bottom: 5px;
        }

/* blog editor*/
.blog_edit_table table, th, td{
	border: 1px solid grey;
	padding: 5px;
}

.blog_edit_names{
	width: 100px;
	vertical-align: top;
}

.blog_edit_inputs{
	width: 800px;
	vertical-align: top;
}

.blog_edit_inputs select, input{
	width: 300px;
}

.blog_edit_inputs textarea{
	width: 800px;
}

.blog_edit_buttons{
	width: 100px;
}

/* Other Pages */

 #links_content {
    text-align: justify;
    margin: 0 auto;
    margin-left: 120px;
    width: 750px;
    margin-bottom: 5px;
    padding: 15px;
    .roundedBorders-WhiteBack;
 }

    #links_content h4 {
        font-size: 16px;
    }

    #links_content p {
        padding-left: 20px;
    }
 
 #about_us_content {
    text-align: justify;
    margin: 0 auto;
    margin-left: 120px;
    width: 750px;
    margin-bottom: 5px;
    padding: 15px;
   .roundedBorders-WhiteBack;
 }

 /*---------------------------------------Footer area------------------------------------*/
.footer-middle {
    min-width: 680px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid;
    overflow: hidden;
    margin-right: 40px;
	margin-top: 20px;	
}