html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#MainSiteDiv {
        margin: 0 auto;
        width: 1060px;
        text-align:left;
}

header, footer, nav, section {
    display: block;
}

.logo {
    float: left;
}

#logoimage {
    margin-top: -20px;
    margin-left: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}



/* main layout
----------------------------------------------------------*/
#leftDiv {

}

.content-wrapper {
    margin: 0;
    margin-right: 15px;
}

#body {
    clear: both;
    padding-bottom: 35px;
    width: 1100px;
}

    .main-content {
        background: url("Images/mid_bg.png") no-repeat;
        background-position: bottom center;
        padding-left: 10px;
        padding-top: 30px;
        height: 100%;
    }
header {
        height: 100px;
    width: 1100px;
}

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    background-color: #e2e2e2;
    font-size: .8em;
    height: 60px;
    width: 1100px;
    display:inline-block;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }



/* Tabs for navigation*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	list-style: none;
}

ul#navigation {
	height: 36px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
    margin-top: 25px;
}

ul#navigation li {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: right;
	width: 100px;
	margin: 0 3px 0 0;
	background-color: #3096D2;
	border: solid 1px #415F9D;
	position: relative;
	z-index: 1;
}

ul#navigation li.selected {
	z-index: 3;
}

ul#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

ul#navigation li a:link, ul#navigation li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 100px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #3096D2;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
}

ul#navigation li a:hover {
	background-color: #5a87dd;
}

ul#navigation li.selected a:link, ul#navigation li.selected a:visited {
	color: #3096D2;
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	background: -moz-linear-gradient(top center, #d1d1d1, #f2f2f2 80%) repeat scroll 0 0 #f2f2f2;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #f2f2f2),color-stop(.8, #d1d1d1));
	background-color: #f2f2f2;
}


/*End Tabs*/


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
