@model CurrencyExposure.Model.EmailSubscribe

<script>
	$(document).ready(function() {
		$("#Email").val("Enter your email");
		$("#Email").css("color", '#A6A5A5');
		$("#Email").on("focus", function () {
			$("#Email").val("");
			$("#Email").css("color", 'black');
		});
		$("#emailsubmit").tipTip({
			attribute: "data-tooltip",
			maxWidth: "auto",
			edgeOffset: 3
		});
		if ($(".twitter-timeline").length == 0)
			twttr.widgets.load();	
	});

</script>

@using (Ajax.BeginForm("SaveEmail", new AjaxOptions
										{
											OnComplete = "email_submitted", 
											OnBegin = "on_email_submit_begin"
										}))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmailSubscribe</legend>

        <div class="label">
			<label id="home_email_label">Subscribe to our newsletter</label>
        </div>
		<div class="field">
			@Html.EditorFor(model => model.Email)<br/>
			@Html.ValidationMessageFor(model => model.Email)
		</div>
		<div id="email_submit_return_message" style="display: none">
		</div>
		<input id="emailsubmit" type="submit" value="Subscribe" data-tooltip="Subscribe to our monthly email and stay up to date" />
		<img id="email_submit_loading" class="loadinggif" src="~/Content/Images/loading.gif" />
    </fieldset>
	
}

