@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Currency Exposure</h1>

<h2>Please Click the button to refresh your data from Xero.</h2>


<input type="button" title="Import Data" value="D" onclick="location.href='@Url.Action("Index", "ImportData")'" />