@model CurrencyExposure.Model.OperationStatus

@{
    ViewBag.Title = "Renew Token";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your token has expired or needs to be renewed</h2>

@Html.ActionLink("Click to Renew Token", "Renew") ;

<h3>Please note you will be redirected to Xero to renew and authorise CurrencyExposure to see you data.</h3>
