@model CurrencyExposure.Model.Blog
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
	string Article = Model.Article;
}

<script type="text/x-jquery-tmpl" id="blogarticle_template">
	<div class="blogarticles_template blogfloats"><a href="/Blog/GetBlog/${Id}">${Title}</a><br />
		${Author} - ${formatDate(CreateDate)}</div><br />
</script>

<script type="text/x-jquery-tmpl" id="blogcomment_template">
	<div class="blogcomments_template blogfloats"><a href="/Blog/GetBlog/${BlogId}">${Comment}</a><br />
		${Name} - ${formatDate(CreateDate)}</div><br />	
</script>


<script>
	function formatDate(datetime) {
		var dateObj = new Date(datetime);
		return dateObj.toDateString();
	}
	$(document).ready(function () {
		$("#body").height($(document).height() - 100);
		$("ul#navigation li").removeClass("selected");
		$("#BlogTab").addClass("selected");

		$.getJSON("/Blog/GetArticlesList", function (data) {
			$("#blogarticle_template").tmpl(data).appendTo("#blog_articles_list");
			$(".blogarticles_template:even").css("background-color", "#EBEBE0").css("width", "100%");
		});
		
		$.getJSON("/Blog/GetCommentsList", function (data) {
			$("#blogcomment_template").tmpl(data).appendTo("#blog_recent_comments_list");
			$(".blogcomments_template:even").css("background-color", "#EBEBE0");
		});
	});
</script>

<div class="blog_article_floats">
	<div>
		<h2>Recent Articles</h2>
		<div id="blog_articles_list" class="blog_article_floats_content">

		</div>
	</div>

	<div >
		<h2>Recent Comments</h2>
		<div id="blog_recent_comments_list" class="blog_article_floats_content">
		
		</div>
	</div>

	<div>
		<h2>Archive</h2>
		<div id="blog_archive_list" class="blog_article_floats_content">
		</div>
	</div>
</div>

<div id="blog_blogarticle">
	<h1>Articles</h1>
	<div id="blog_article_content">
		<h2>@Html.DisplayFor(model => model.Title)</h2>
		<br />
		<h3>@Html.DisplayFor(model => model.CreateDate) > @Html.DisplayFor(model => model.BlogAuthor.AuthorName) </h3>
		<div id="blog_article_article">@MvcHtmlString.Create(Article)</div>
		
	</div>
</div>

<div id="blog_comments">
@*@Html.Partial("_BlogComments", Model.BlogComments)*@
</div>

