<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.currencyexposure.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://w11.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>currencyexposure.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>currency</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CurrencyExposureContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_48717_currency;Integrated Security=False;User ID=DB_48717_currency_user;Password=Admin1234!" Name="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_48717_currency;User ID=DB_48717_currency_user;Password=Admin1234!;Integrated Security=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CurrencyExposure.Repository.CurrencyExposureContext, CurrencyExposure.Repository" MigrationConfiguration="CurrencyExposure.Repository.Migrations.Configuration, CurrencyExposure.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CurrencyExposureContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=tcp:s08.winhost.com;Initial Catalog=DB_48717_currency;User ID=DB_48717_currency_user;Password=Admin1234!;Integrated Security=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>