@model CurrencyExposure.Model.EmailSubscribe

<script>
	$(document).ready(function() {
		$(".home_email_input").val("Enter your email");
		$(".home_email_input").css("color", '#A6A5A5');
		$(".home_email_input").on("focus", function () {
			$(".home_email_input").val("");
			$(".home_email_input").css("color", 'black');
		});
		$("#emailsubmit").tipTip({
			attribute: "data-tooltip",
			maxWidth: "auto",
			edgeOffset: 3
		});
	});
	function email_submitted(context) {
		alert("Subitted");
	}
</script>

@using (Ajax.BeginForm("SaveEmail", new AjaxOptions { OnComplete = "email_submitted" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EmailSubscribe</legend>

        <div class="label">
			<label id="home_email_label">Subscribe to our newsletter</label>
        </div>
        <div class="field">
            @Html.TextBoxFor(model => model.Email, new { @class = "home_email_input" })<br/>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
		<input id="emailsubmit" type="submit" value="Subscribe" data-tooltip="Subscribe to our monthly email and stay up to date" />	

    </fieldset>
}

