@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	$(document).ready(function () {
		$("#body").height($(document).height() - 200);
		$("ul#navigation li").removeClass("selected");
		$("#AboutTab").addClass("selected");
	});
</script>
<div id="about_us">
<h2>About Us</h2>
<div id="about_us_content">
	<h4>
		<u>Sydney based community, comitted to making FX hedging decisions easier...for everone!</u></h4>
	<p>
		The team at <a href="http://CurrencyExposure.com/"><span class="s1">CurrencyExposure.com</span></a> are made up of a team of individuals that have been part of the FX industry for some time as both sales people and dealers. &nbsp;During these we have noticed a distinct lack of publicly available information to assist smaller players in the market, navigate the world of FX.
	</p>
	<p class="p1">
		Our website is devoted to unraveling some of the myths of currency markets by providing small and informative articles that we hope will be useful to businesses in Australia and elsewhere.&nbsp; Whilst we think that it is important to be aware of trends in markets, we also realise that trying to predict the direction of FX rates with any accuracy is extremely difficult and <u><strong>not what business should be focusing on.</strong></u> &nbsp;Therefore our focus is on how to manage a business&rsquo;s currency exposure through knowledge of products, an understanding of your exposure and a well formed hedging policy.&nbsp; It also doesn&rsquo;t hurt being aware of some of the industry tricks FX providers use to make money from their clients!
	</p>
	<p class="p1">
		We are developing some tools to assist small and medium sized businesses to add rigor to decisions around hedging and hope to make them as much as possible, free resources for our online community.
	</p>
	<p class="p1">
		&nbsp;
	</p>
</div>
</div>
