@{
    ViewBag.Title = "ExposurePlatform";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/currencyexposure")

<script>
	$(document).ready(function () {
		$("ul#navigation li").removeClass("selected");
	});
</script>
<h2 class="mainheading">HOW IT WORKS</h2>
<div class="work_area">
	<div class="howitworks">
		<div class="step_area">
			<div class="step_one">
				<h3>STEP ONE <span>Share with your stakeholders</span></h3>
				<p>
					<img width="191" height="185" src="../../Content/Images/pic41.png" class="attachment-post-thumbnail wp-post-image" alt="pic4" title="pic4">
				</p>
				<p>Invite your management, finance team and your FX dealer or advisor to log in to the platform. CurrencyExposure allows you to assign different access rights to different users</p>
				<p></p>
			</div>
			<div class="step_one">
				<h3>STEP THREE <span>Connect with your FX provider</span></h3>
				<p>
					<img width="135" height="152" src="../../Content/Images/pic5.png" class="attachment-post-thumbnail wp-post-image" alt="pic5" title="pic5">
				</p>
				<p>Currency Exposure downloads your FX provider’s data in a few clicks and automatically updates your forward exchange positions giving you a live valuation of your position as well as forward points on predeliveries</p>
				<p></p>
			</div>
			<div class="step_one">
				<h3>STEP FIVE <span>Evaluate your position</span></h3>
				<p>
					<img width="135" height="150" src="../../Content/Images/pic6.png" class="attachment-post-thumbnail wp-post-image" alt="pic6" title="pic6">
				</p>
				<p>
					You now have everything you need to evaluate your exposure on one centralised platform. &nbsp;Use simple, visual tools to evaluate your positions, invite your FX provider to give quotes or use our hedging policy wizard<br>
																																																											  to make better and more more informed decisions
				</p>
				<p></p>
			</div>
		</div>
		<div class="step_mide">
			<img width="245" height="515" src="../../Content/Images/step_bg.png" class="attachment-full wp-post-image" alt="step_bg" title="step_bg"></div>
		<div class="step1_area">
			<div class="step_two">
				<h3>STEP TWO <span>Connect with your ERP</span></h3>
				<p>
					<img width="168" height="170" src="../../Content/Images/pic7.png" class="attachment-post-thumbnail wp-post-image" alt="pic7" title="pic7">
				</p>
				<p>Currency Exposure integrates easily with most ERP systems. Once connected, the platform automatically streams live and up to date outstanding, invoices, purchase orders or sales orders, denominated in a foreign currency</p>
				<div id="fcbk_share"></div>
				<p></p>
			</div>
			<div class="step_two">
				<h3>STEP FOUR <span>Enter forecasts</span></h3>
				<p></p>
				<p>An understanding of your forecast exposures is an important part of FX exposure management – invite your stakeholders to enter and update their forecasts for future periods</p>
				<p>&nbsp;</p>
				<img width="281" height="172" src="../../Content/Images/pic8.png" class="attachment-post-thumbnail wp-post-image" alt="pic8" title="pic8">
				<p></p>
			</div>
		</div>
	</div>

</div>
<div class="info_area">
	<h3>Keep up to date! <span>We are in product development and will be launching soon.</span></h3>
	<div class="go_btn">
		<a href="~/contactenq/true" title="">
			<img src="../../Content/Images/go_btn.jpg" alt=""></a>
	</div>
</div>
