@{
    ViewBag.Title = "Currency Exposure";
}

<script>
	$(document).ready(function () {
		$("#body").height($(document).height() - 230);
		$("ul#navigation li").removeClass("selected");
		$("#HomeTab").addClass("selected");
	});
</script>

<div id="home_toolad">
	
</div>

<div id="home_rates">
	
</div>
<div id="home_twitter">
	
</div>

<div id="home_ourvision">
	<h2>Our Vision</h2>
	<p>
		Committed to delivering unbiased, objective information on currency markets for all business of all sizes with a focus on adding rigor and objectiveness to hedging decisions. 
	</p>
</div>

<div id="home_blogarticle">
	<h2>Our Vision</h2>
	<p>
		Committed to delivering unbiased, objective information on currency markets for all business of all sizes with a focus on adding rigor and objectiveness to hedging decisions. 
	</p>
</div>



