@model IEnumerable<CurrencyExposure.Model.BlogSummaryDto>
@{
    ViewBag.Title = "Currency Exposure";
}

<script>
	$(document).ready(function () {
		$("#body").height($(document).height() - 200);
		$("ul#navigation li").removeClass("selected");
		$("#HomeTab").addClass("selected");
	});
</script>

<div id="home_toolad" class="homePage-right-floats">
	<h2>Free Currency Hedging Tool</h2>
	<a href="http://www.currencyexposure.com" title="">
		<img id="img_currencytool" src="../../Content/Images/CurrencyTool.png" alt="">
	</a>
</div>

<div id="home_rates" class="homePage-right-floats">
	<h2>Live Cross Rates</h2>
		<img id="img_crossrates" src="../../Content/Images/rates.png" alt="">
</div>

<div id="home_twitter" class="homePage-right-floats">
	<h2>Twitter Feed</h2>
	<a class="twitter-timeline" href="https://twitter.com/CurrencyExposur" data-widget-id="248717163219779584">Tweets by @@CurrencyExposur</a>
	<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</div>

<div id="home_ourvision">
	<h2>Our Vision</h2>
	<p>
		Committed to delivering unbiased, objective information on currency markets for all business of all sizes with a focus on adding rigor and objectiveness to hedging decisions. 
	</p>
</div>

<h2>Recent Articles</h2>
@Html.Partial("_BlogSummaryPartial", Model)

