@model IEnumerable<CurrencyExposure.Model.BlogSummaryDto>
@{
    ViewBag.Title = "Currency Exposure";
}

<script>
	$(document).ready(function () {
		$("ul#navigation li").removeClass("selected");
		$("#HomeTab").addClass("selected");
	});
</script>
<div id="homepage_actioncall">
	<h1>For Everything Currency	Releated</h1>
	<h2>Committed to delivering unbiased, objective information for business of all sizes. and developing a community for CFO's, treasurers and business owners with a focus on taking the guess work of hedging decisions.</h2>
</div>

<div id="homepage_rightfloat_container">
	<div id="home_toolad" class="homePage-right-floats">
		<a href="http://www.currencyexposure.com" title="">
			<img id="img_currencytool" src="../../Content/Images/hedge_tool.png" alt="">
		</a>
	</div>
	<div id="home_rates" class="homePage-right-floats">
		@{Html.RenderAction("EmailSubscribe", "Home");}
	</div>
	<div id="home_twitter" class="homePage-right-floats twitter-widget">
		<h2>&nbsp;</h2>
		<a class="twitter-timeline" href="https://twitter.com/CurrencyExposur" data-widget-id="248717163219779584">Tweets by @@CurrencyExposur</a>
		<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
	</div>
</div>
<div id="homepage_content">
	<h1>Recent Articles</h1>
	@Html.Partial("_BlogSummaryPartial", Model)
</div>
