@{
    ViewBag.Title = "Links";
}

<script>
	$(document).ready(function () {
		$("ul#navigation li").removeClass("selected");
		$("#LinksTab").addClass("selected");
		$("#pageLoading").css("display", "none");
	});
</script>

<div id="links">
	<h2 class="mainheading">HELPFUL SITES</h2>
	<div id="links_content">
		<h4>FX &amp; Business</h4>
		<p>
			Financial Times, Currency Markets -&nbsp;<a href="http://www.ft.com/markets/currencies">www.ft.com/markets/currencies</a>
		</p>
		<p>
			Sydney Morning Herald, Markets -&nbsp;<a href="http://www.smh.com.au/business/markets">www.smh.com.au/business/markets</a>
		</p>
		<p>
			Bank for International Settlements -&nbsp;<a href="http://www.bis.org">www.bis.org</a>
		</p>
		<p>
			Chartered Professional Accountants Australia -&nbsp;<a href="http://www.cpaaustralia.com.au">www.cpaaustralia.com.au</a>
		</p>
		<p>
			Proformative -&nbsp;<a href="http://www.proformative.com">www.proformative.com</a>
		</p>
		<h4>Treasury Management Solutions</h4>
		<p>
			Kyriba -&nbsp;<a href="http://www.kyriba.com">www.kyriba.com</a>
		</p>
		<p>
			Fireapps -&nbsp;<a href="http://www.fireapps.com">www.fireapps.com</a>
		</p>
		<p>
			Visual Risk -&nbsp;<a href="http://www.visualrisk.com">www.visualrisk.com</a>
		</p>
		<h4>Technology</h4>
		<p>
			247 Techies -&nbsp;<a href="http://smallbusiness.247techies.com/">http://smallbusiness.247techies.com/</a>
		</p>
		<p>
			Hand Shake App -&nbsp;<a href="http://www.handshake-app.com">www.handshake-app.com</a>
		</p>
		<p>
			The Climate Corporation -&nbsp;<a href="http://www.climate.com">www.climate.com</a>
		</p>
		<p>
			Kabbage -&nbsp;<a href="http://www.kabbage.com">www.kabbage.com</a>
		</p>
		<h4>Blogs</h4>
		<p>
			Angel List -&nbsp;<a href="http://www.angel.co">www.angel.co</a>
		</p>
		<p>
			CloudTweeks -&nbsp;<a href="http://www.cloudtweaks.com">www.cloudtweaks.com</a>
		</p>
		<p>
			Dynamic Business -&nbsp;<a href="http://www.dynamicbusiness.com.au">www.dynamicbusiness.com.au</a>
		</p>
		<p>
			Park Paradigm -&nbsp;<a href="http://www.parkparadigm.com">www.parkparadigm.com</a>
		</p>
		<p>
			Social Media News -&nbsp;<a href="http://www.socialmedianews.com.au">www.socialmedianews.com.au</a>
		</p>
		<p>
			On Start Ups -&nbsp;<a href="http://www.onstartups.com">www.onstartups.com</a>
		</p>
		<p>
			Inc. -&nbsp;<a href="http://www.Inc.com">www.Inc.com</a>
		</p>
		<p>
			Anthill -&nbsp;<a href="http://www.anthill.com">www.anthill.com</a>
		</p>
		<h4>Start Up</h4>
		<p>
			Syd Start -&nbsp;<a href="http://www.sydstart.com">www.sydstart.com</a>
		</p>
		<p>
			Blue Chilli -&nbsp;<a href="http://www.bluechilli.com">www.bluechilli.com</a>
		</p>
		<p>
			Pollenizer -&nbsp;<a href="http://www.Pollenizer.com">www.Pollenizer.com</a>
		</p>
		<p>
			The Entourage -&nbsp;<a href="http://www.the-entourage.com.au">www.the-entourage.com.au</a>
		</p>
		<p>
			ATP Innovations -&nbsp;<a href="http://www.atp-innovations.com.au">www.atp-innovations.com.au</a>
		</p>
		<p>
			Anthemis Group -&nbsp;<a href="http://www.anthemis.com">www.anthemis.com</a>
		</p>
		<p>
			Sydney Angels -&nbsp;<a href="http://www.sydneyangels.net.au">www.sydneyangels.net.au</a>
		</p>
		<p>
			&nbsp;
		</p>
		<p>
			&nbsp;
		</p>
		
	</div>
</div>
