@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	$(document).ready(function () {
		$("#body").height($(document).height() - 200);
		$("ul#navigation li").removeClass("selected");
		$("#LinksTab").addClass("selected");
	});
</script>

<div id="links">
	<h2>Helpful Sites</h2>
	<div id="links_content">
		<a href="http://www.ozforex.com.au" target="_blank">http://www.ozforex.com.au</a><br/>
		<a href="http://openexchangerates.org" target="_blank">http://openexchangerates.org</a>
		
	</div>
</div>
