@model CurrencyExposure.Model.Blog

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/kendo/css")
@Scripts.Render("~/bundles/kendo")

<script id="rowTemplate" type="text/x-kendo-tmpl">
                <tr>
                    <td>
						<a onclick="onChange(${Id});">${Title}</a>                     
                    </td>
		            <td>
                        ${ Author }
                    </td>
                    <td>
                        ${ Category }
                    </td>
                    <td>
						${formatDate(CreateDate)}
                    </td>
                </tr>
</script>

<script>
	function onChange(id) {
		$("#blog_edit_id").val(id);
		$.getJSON('/blog/GetBlogAsJson/' + id, function (data) {
			$("#blog_edit_title").val(data.Title);
			$("#blog_edit_author").val(data.BlogAuthor.Id);
			$("#blog_edit_category").val(data.BlogCategory.Id);
			$("#blog_edit_tags").val(data.Tag);
			$("#blog_edit_summary").text(data.BlogSummary);
			var editor = $("#editor").data("kendoEditor");
			editor.value(data.Article);
		});
	}
	
	function saveblogcontents() {
		var blogId = $("#blog_edit_id").val();
		var editor = $("#editor").data("kendoEditor");
		$("#edit_blog_return_message").val("");
		$.ajax({
			type: 'POST',
			url: '/blog/SaveBlog',
			dataType: 'json',
			data: {
				BlogId: blogId,
				Title: $("#blog_edit_title").val(),
				BlogSummary:$("#blog_edit_summary").text(),
				Article: editor.value(),
				Tag: $("#blog_edit_tags").val(),
				BlogCategoryId: $("#blog_edit_category").val(),
				BlogAuthorId: $("#blog_edit_author").val()
			},
			success: function (result) {
				setResultMessage(result, "#edit_blog_return_message");
				var grid = $("#grid").data("kendoGrid");
				grid.dataSource.read();
				grid.refresh();
			}
		});
	}

	function clearblogcontents() {
		$("#blog_edit_title").val("");
		$("#blog_edit_author").val(1);
		$("#blog_edit_category").val(1);
		$("#blog_edit_tags").val("");
		$("#blog_edit_summary").text("");
		var editor = $("#editor").data("kendoEditor");
		editor.value("");
	}

	function deleteblog() {
		var blogId = $("#blog_edit_id").val();
		$("#edit_blog_return_message").val("");
		$.ajax({
			type: 'POST',
			url: '/blog/DeleteBlog',
			dataType: 'json',
			data: {
				BlogId: blogId,
			},
			success: function (result) {
				setResultMessage(result, "#edit_blog_return_message");
				var grid = $("#grid").data("kendoGrid");
				grid.dataSource.read();
				grid.refresh();
			}
		});
	}


	$(document).ready(function () {
		
		$("#editor").kendoEditor({
			tools: [
				"bold",
				"italic",
				"underline",
				"strikethrough",
				"fontName",
				"fontSize",
				"foreColor",
				"backColor",
				"justifyLeft",
				"justifyCenter",
				"justifyRight",
				"justifyFull",
				"insertUnorderedList",
				"insertOrderedList",
				"indent",
				"outdent",
				"formatBlock",
				"createLink",
				"unlink",
				"insertImage",
				"subscript",
				"superscript",
				"viewHtml"
			]
		});
		
		$("#grid").kendoGrid({
			dataSource: {
				pageSize: 10,
				transport: {
					read: {
						url: "/Blog/GetArticlesList",
						dataType: "json",
						data: {
							count: 10
						}
					}
				},
			},
			sortable: {
				mode: "single",
				allowUnsort: false
			},
			selectable: true,
			scrollable: false,
			navigatable: true,
			filterable: true,
			columnMenu: true,
			pageable: {
				refresh: true,
				pageSizes: true
			},
			rowTemplate: kendo.template($("#rowTemplate").html()),
			columns: [{
					field: "Title",
					width: 150,
				}, {
					field: "Author",
					width: 80,
				}, {
					field: "Category",
					width: 80,
				}, {
					width: 70,
					field: "CreateDate"
				}
			],
		});
	});
</script>

<div style="text-align: left">
	<h2>Blogs</h2>
	<input id="blog_edit_id" type="hidden" />
	<div class="KendoGridFix" style="width: 900px; margin-left: 50px;">
		<div id="blog_list" style="text-align: left">
			<div id="grid"></div>
		</div>
	</div>

	<h2>Create/Edit Blog</h2>
	<table class="blog_edit_table">
		<tr>
			<td class="blog_edit_names">Title</td>
			<td class="blog_edit_inputs">
				<input id="blog_edit_title" type="text" />
			</td>
		</tr>
		<tr>
			<td class="blog_edit_names">Author</td>
			<td class="blog_edit_inputs">
				<select id="blog_edit_author">
					<option value="1">Matt Tyrrell</option>
					<option value="2">Matt Done</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="blog_edit_names">Category</td>
			<td class="blog_edit_inputs">
				<select id="blog_edit_category">
					<option value="1">General</option>
					<option value="2">Hedging Policies</option>
					<option value="3">Products</option>
					<option value="5">Foreign Exchange Providers</option>
					<option value="6">Payments</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="blog_edit_names">Tags</td>
			<td class="blog_edit_inputs">
				<input id="blog_edit_tags" type="text" />
			</td>
		</tr>
		<tr>
			<td class="blog_edit_names">Summary</td>
			<td class="blog_edit_inputs">
				<textarea id="blog_edit_summary" cols="20" rows="4"></textarea>
			</td>
		</tr>
		<tr>
			<td class="blog_edit_names">Article</td>
			<td class="blog_edit_inputs">
				<textarea id="editor" rows="10" cols="30" style="width: 100%; height: 400px">
				</textarea>
			</td>
		</tr>
	</table>
	<br/>
	<div id="edit_blog_return_message" style="display: none">
	</div>
	<input id="edit_blog_save" class="blog_edit_buttons" type="button" value="Save" onclick="saveblogcontents();"/>
	<input id="edit_blog_clear" class="blog_edit_buttons" type="button" value="Clear" onclick="clearblogcontents();" />
	<input id="edit_blog_delete" class="blog_edit_buttons" type="button" value="Delete" onclick="deleteblog();" />
</div>
