<div>
	<script>
		function formatDate(datetime) {
			var dateObj = new Date(datetime);
			return dateObj.toDateString();
		}
		$(document).ready(function () {
			$.getJSON("/Blog/GetArticlesList", function (data) {
				$("#grid").kendoGrid({
					dataSource: {
						data: data,
						pageSize: 20
					},
					sortable: {
						mode: "single",
						allowUnsort: false
					},
					selectable: "multiple row",
					scrollable: false,
					navigatable: true,
					change: onChange,
					filterable: true,
					columnMenu: true,
					columns: [{
						field: "Title",
						width: 100,
					}, {
						field: "Author",
						width: 90,
					}, {
						width: 100,
						field: "CreateDate"
					}, {
						width: 1,
						field: "Id"
					}
					]
				});
			});
		});
		function onChange(e) {
			alert('Hello');
		}
	</script>

	<div id="blog_list">
		<div id="grid"></div>
	</div>
</div>
